<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <permission android:name="com.bintianqi.owndroid.MyPermission"/>
    <uses-permission android:name="com.bintianqi.owndroid.MyPermission"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-sdk tools:overrideLibrary="rikka.shizuku.provider,rikka.shizuku.api,rikka.shizuku.shared,rikka.shizuku.aidl"/>
    <uses-feature android:name="android.software.device_admin"/>
    <application
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.OwnDroid"
        android:enableOnBackInvokedCallback="true"
        android:testOnly="false"
        android:manageSpaceActivity=".ManageSpaceActivity"
        android:name=".MyApplication"
        tools:targetApi="35">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/Theme.OwnDroid"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.app.action.PROVISIONING_SUCCESSFUL" />
                <action android:name="android.app.action.PROVISION_MANAGED_PROFILE"/>
                <action android:name="android.app.action.MANAGED_PROFILE_PROVISIONED"/>
                <action android:name="android.app.action.PROFILE_PROVISIONING_COMPLETE"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManageSpaceActivity"
            android:theme="@style/Theme.Transparent">
        </activity>
        <activity
            android:name=".AppInstallerActivity"
            android:label="@string/app_installer"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <data android:mimeType="application/vnd.android.package-archive"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".PackageChooserActivity"
            android:label="@string/package_chooser"
            android:exported="false"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".ShortcutsReceiverActivity"
            android:permission="com.bintianqi.owndroid.MyPermission"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".DhizukuActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="com.bintianqi.owndroid.action.REQUEST_DHIZUKU_PERMISSION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".Receiver"
            android:description="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.app.action.PROVISIONING_SUCCESSFUL" />
                <action android:name="android.app.action.PROFILE_PROVISIONING_COMPLETE"/>
                <action android:name="android.app.action.PROVISION_MANAGED_PROFILE"/>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED"/>
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ApiReceiver"
            android:exported="true">
        </receiver>
        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:multiprocess="false"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
        <provider
            android:name=".MyDhizukuProvider"
            android:authorities="com.bintianqi.owndroid.dhizuku_server.provider"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
        </provider>
    </application>
</manifest>
