name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          ref: 'master'

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build APK
        run: |
          echo "${{ secrets.KEY_BASE64 }}" | base64 --decode - > app/release.jks
          ./gradlew clean assembleRelease --no-build-cache --no-configuration-cache -PStoreFile="$(pwd)/app/release.jks" -PStorePassword="${{ secrets.KEYSTORE_PASSWORD }}" -PKeyPassword="${{ secrets.KEY_PASSWORD }}" -PKeyAlias="${{ secrets.KEY_ALIAS }}"
          mv app/build/outputs/apk/release/app-release.apk OwnDroid-${{ github.ref_name }}.apk
          ./gradlew assembleRelease
          mv app/build/outputs/apk/release/app-release.apk OwnDroid-${{ github.ref_name }}-testkey.apk

      - name: Create release
        run: git tag -l ${{ github.ref_name }} --format="%(contents:body)" | gh release create ${{ github.ref_name }} -t ${{ github.ref_name }} *.apk -d -F -
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v4